doctype html
html
    head
        style
            include style.css
    body
        div
            | Hello world
            br
            | This is out container

        block content

        div.footer
            | (c) Sep-2021 1991-2022
            | FOOTER !
            a(href=frontendUrl) CLICK HERE
